<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
  
  <title>
    Monarch Buildestate - {% block title %}{% endblock %}
  </title> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
  <script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    OneSignalDeferred.push(async function(OneSignal) {
      await OneSignal.init({
        appId: "a2706dcd-f7ad-4ef9-8268-005b743bb8d8",
        safari_web_id: "web.onesignal.auto.1881b8be-1ae3-4d80-a99d-32f491a07c07",
        notifyButton: {
          enable: true,
          position: 'bottom-left',
          showCredit: false,
        },
      });
    });
  </script>
  {%if current_user.logged_in %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      OneSignal.login("{{ current_user.id }}");
      console.log("User logged in to OneSignal: {{ current_user.id }}");
    });
  </script>
  {% endif %}
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="hold-transition {% block body_class %}{% endblock body_class %}">
<div class="wrapper">

    {% include 'includes/navigation.html' %}

    {% include 'includes/sidebar.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
