  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Monarch Buildestate</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview  {% if 'dashboard' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Leads
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/lead" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>All Leads</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/lead/create" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>Create Lead</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/lead/pending" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>Pending Action</p>
                </a>
              </li>
            </ul>
          </li>
          {%if current_user.admin %}
          <!-- reports -->
          <li class="nav-item has-treeview {% if 'report' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-chart-line"></i>
              <p>
                Reports
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/reports" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>Report</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview  ">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/users" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>All Users</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/user/create" class="nav-link">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <p>Create User</p>
                </a>
              </li>
            </ul>
          </li>
          
          {%endif%}
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  