{% extends "layouts/base.html" %}

{% block title %} Lead Details {% endblock %} 

{% block stylesheets %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/static/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
  <style>
    .timeline-container {
      display: flex;
      justify-content: space-between;
    }
    .timeline-box {
      flex: 2;
      padding: 10px;
    }
    .lead-details {
      flex: 1;
      padding: 10px;
      background: #f8f9fa;
      border-radius: 5px;
    }
    .comment-box {
      margin-bottom: 20px;
    }
    .follow-up-form {
      margin-top: 20px;
      background: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Timeline</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Timeline</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="timeline-container">
          <div class="timeline-box">
            <form action="/lead/{{ lead.id }}/comment" method="POST">
              <div class="form-group">
                <div class="comment-box">
                  <textarea id="comment" name="comment" class="form-control" placeholder="Add a new comment..."></textarea>
                  <button class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
            </div>
            <div class="timeline">
              {% for timestamp, event_list in events.items() %}
                <div class="time-label">
                  <span class="bg-red">{{ timestamp.strftime('%d %b %Y') }}</span>
                </div>
                {% for event in event_list %}
                  <div>
                    <i class="fas {% if 'comment' in event %}fa-comments bg-yellow{% else %}fa-reply bg-blue{% endif %}"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i> {{ event['created_at'].strftime('%H:%M:%S') }}</span>
                      <h3 class="timeline-header">
                        {% if 'comment' in event %}
                          Comment
                        {% else %}
                          Follow-Up
                        {% endif %}
                      </h3>
                      <div class="timeline-body">
                        {% if 'comment' in event %}
                          {{ event['comment'] }}
                        {% else %}
                          {% if event['follow_up_time'] %}
                            {{ event['remarks'] }} <br>Follow-up scheduled for {{ event['follow_up_time'].strftime('%d %b %Y %H:%M') }}
                          {% else %}
                            {{ event['remarks'] }}
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          <div class="lead-details">
            <h3>Lead Details ({{lead.id}})</h3>
            <form action="/lead/{{ lead.id }}" method="POST">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" value="{{ lead.name }}" name="name">
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                {{ lead.phone_number }}
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" value="{{ lead.email }}" name="email">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" value="{{ lead.address }}" name="address">
              </div>
              <button class="btn btn-success">Save</button>
            </form>
            <button class="btn btn-primary" onclick="call()">📞</button>
            <div class="follow-up-form">
              <h4>Add a Follow-Up</h4>
              <form action="/lead/{{ lead.id }}/followup" method="POST">
                <div class="form-group">
                  <label>Follow Up?</label>
                  <select class="form-control" id="follow-up-select" name="follow-up-select" onchange="toggleFollowUpDate()">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                  </select>
                </div>
                <div class="form-group" id="follow-up-date">
                  <label>Follow-Up Time</label>
                  <input type="datetime-local" class="form-control" name="follow-up-time" id="follow-up-time" value="{{ current_time }}">
                </div>
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea class="form-control" id="follow-up-remarks" name="remarks" placeholder="Enter follow-up remarks..."></textarea>
                </div>
                <div class="form-group">
                  <label>Lead Status</label>
                  <select class="form-control">
                    {% for status in lead_status %}
                      <option value="{{ status }}">{{ status }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button class="btn btn-primary">Add Follow-Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/adminlte.min.js"></script>
  <script>
    function toggleFollowUpDate() {
      var followUpSelect = document.getElementById("follow-up-select");
      var followUpDate = document.getElementById("follow-up-date");
      followUpDate.style.display = followUpSelect.value === "yes" ? "block" : "none";
    }
    toggleFollowUpDate();
    var agent_number = "{{ current_user.phone_number }}";
    var lead_id = "{{ lead.id }}";
    function call(){
      // make a request to /api/initiate_call?agent_number=AGENT_NUMBER&lead_id=LEAD_ID
      // on success show a toast message
      // on failure show a toast message
      fetch(`/api/initiate_call`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ agent_number, lead_id }),
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert("Call initiated successfully");
          } else {
            alert("Failed to initiate call");
          }
        })
        .catch(error => console.error("Error:", error));

    }
  </script>
{% endblock javascripts %}