{% extends "layouts/base.html" %}

{% block title %} Lead Details {% endblock %} 

{% block stylesheets %}
  <link rel="stylesheet" href="/static/assets/css/adminlte.min.css">
  <style>
    .timeline-container {
      display: flex;
      justify-content: space-between;
    }
    .timeline-box {
      flex: 2;
      padding: 10px;
    }
    .lead-details {
      flex: 1;
      padding: 10px;
      background: #f8f9fa;
      border-radius: 5px;
    }
    .comment-box {
      margin-bottom: 20px;
    }
    .follow-up-form {
      margin-top: 20px;
      background: #fff;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    .editable-icon {
      cursor: pointer;
      margin-left: 8px;
    }
    @media (max-width: 768px) {
      .timeline-container {
        flex-direction: column;
      }
      .lead-details {
        order: -1; /* Moves lead details to the top */
      }
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{lead.name}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Timeline</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="timeline-container">
          <div class="timeline-box">
            <div class="follow-up-form">
              <h4>Add a Follow-Up</h4>
              <form action="/lead/{{ lead.id }}/followup" method="POST">
                <div class="form-group">
                  <label>Follow Up?</label>
                  <select class="form-control" id="follow-up-select" name="follow-up-select" onchange="toggleFollowUpDate()">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                  </select>
                </div>
                <div class="form-group" id="follow-up-date">
                  <label>Follow-Up Time</label>
                  <input type="datetime-local" class="form-control" name="follow-up-time" id="follow-up-time">
                </div>
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea class="form-control" id="follow-up-remarks" name="remarks" placeholder="Enter follow-up remarks..."></textarea>
                </div>
                <div class="form-group">
                  <label>Lead Status</label>
                  <select class="form-control" name="status" id="status">
                    {% for status in lead_status %}
                      <option value="{{ status }}">{{ status }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button class="btn btn-primary">Add Follow-Up</button>
              </form>
            </div>
            <h4>Comments & Activities</h4>
            <form action="/lead/{{ lead.id }}/comment" method="POST">
              <div class="form-group">
                <div class="comment-box">
                  <textarea id="comment" name="comment" class="form-control" required placeholder="Add a new comment..."></textarea>
                  <button class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
            </div>
            <div class="timeline">
              {% for timestamp, event_list in events.items() %}
                <div class="time-label">
                  <span class="bg-red">{{ timestamp.strftime('%d %b %Y') }}</span>
                </div>
                {% for event in event_list %}
                  <div>
                    <i class="fas {% if 'comment' in event %}fa-comments bg-yellow{% elif 'call_id' in event %}{% if event['status'] == 'missed' %}fa-phone bg-red{%else%} fa-phone bg-green{% endif %}{% else %}fa-reply bg-blue{% endif %}"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i> {{ event['created_at'] }}</span>
                      <h3 class="timeline-header">
                        {% if 'comment' in event %}
                          Comment
                          {%if current_user.admin %}
                            <a href="/lead/{{ lead.id }}/comment/{{ event['id'] }}/delete" class="btn btn-danger">Delete</a>
                          {% endif %}
                        {% elif 'call_id' in event %}
                          Call by {{ event['agent_number'] }}
                        {%else%}
                          Follow-Up
                          {%if current_user.admin %}
                            <a href="/lead/{{ lead.id }}/followup/{{ event['id'] }}/delete" class="btn btn-danger">Delete</a>
                          {% endif %}
                        {% endif %}
                      </h3>
                      <div class="timeline-body">
                        {% if 'comment' in event %}
                          {{ event['comment'] }}
                        {% elif 'call_id' in event %}
                          {{event['status']}} | {{event['description']}} <br> Call duration: {{ event['duration'] }} seconds <br>
                          {% if event['status'] != "missed" %}
                            <audio controls>
                              <source src="{{ event['recording_url'] }}" type="audio/mpeg">
                              Your browser does not support the audio element.
                            </audio>
                          {% endif %}
                        {% else %}
                          {% if event['follow_up_time'] %}
                            <b>Remarks- {%if event['remarks']%}{{ event['remarks'] }}{%else%}No Remarks{%endif%}</b> <br>Follow-up scheduled for {{ event['follow_up_time'].strftime('%d %b %Y %H:%M') }} 
                          {% else %}
                            {{ event['remarks'] }}
                          {% endif %}
                          <br>Lead Status: {{event['status']}}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>

          <div class="lead-details">
            {% if current_user.admin %}
            <form action="/lead/{{ lead.id }}/assign" method="POST">
              <label>Assign To</label>
              <select class="form-control" name="new_assignee">
                {% for user in users %}
                  <option name="user_id" value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
              </select>
              <button class="btn btn-primary mt-2">Assign</button>
            </form>
            {% endif %}
            <h3>Lead Details ({{lead.id}})</h3>
            {% if current_user.admin %}
            <h2>Lead For: {{lead.assigned_to}}</h2>
            {% endif %}
            <h2>Lead Status: {{lead.status}}</h2>

            <div class="form-group">
              <label>Name</label>
              <span id="name-container">
                <span id="name-display">{{ lead.name }}</span>
                <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('name')"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Phone Number</label>
              <span id="phone_number-container">
                <span id="phone_number-display">{{ lead.phone_number }}</span>
                <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('phone_number')"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Email</label>
              <span id="email-container">
                <span id="email-display">{{ lead.email }}</span>
                <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('email')"></i>
              </span>
            </div>

            <div class="form-group">
              <label>Address</label>
              <span id="address-container">
                <span id="address-display">{{ lead.address }}</span>
                <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('address')"></i>
              </span>
            </div>
            <div class="form-group">
              <label>Origin</label>
              <span id="origin-container">
                <span id="origin-display">{{ lead.origin_id }}</span>
              </span>
            </div>
            <div class="form-group">
              <label>Created At</label>
              <span>{{ lead.created_at.strftime('%d %b %Y %H:%M') }}</span>
            </div>

            <a href="tel:{{ lead.phone_number }}" id="lead-call-button"><button class="btn btn-primary"><i class="fa-solid fa-phone"></i></button></a>
            <a href="https://wa.me/{{ lead.phone_number }}" id="lead-whatsapp-button"><button class="btn btn-primary"><i class="fa-brands fa-whatsapp"></i></button></a>
            {% if current_user.admin %}
              <a href="/lead/{{ lead.id }}/delete" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/adminlte.min.js"></script>
  <script>
    function toggleFollowUpDate() {
      var followUpSelect = document.getElementById("follow-up-select");
      var followUpDate = document.getElementById("follow-up-date");
      followUpDate.style.display = followUpSelect.value === "yes" ? "block" : "none";
      document.getElementById("follow-up-time").required = followUpSelect.value === "yes";
    }
    toggleFollowUpDate();

    document.addEventListener('DOMContentLoaded', function() {
      var calender = document.getElementById("follow-up-time");
      calender.min = new Date().toISOString().slice(0,new Date().toISOString().lastIndexOf(":"));
    });

    // Inline editing logic
    function editField(field) {
        const container = document.getElementById(field + "-container");
        const currentValue = document.getElementById(field + "-display").innerText;

        container.innerHTML = `
          <input type="text" id="${field}-input" value="${currentValue}" class="form-control d-inline" style="width:70%; display:inline-block;">
          <i class="fa-solid fa-floppy-disk text-success ml-2" style="cursor:pointer;" onclick="saveField('${field}')"></i>
          <i class="fa-solid fa-xmark text-danger ml-2" style="cursor:pointer;" onclick="cancelField('${field}', '${currentValue}')"></i>
        `;
      }


    function saveField(field) {
      const newValue = document.getElementById(field + "-input").value;
      const leadId = "{{ lead.id }}";

      fetch(`/lead/${leadId}/edit?field=${field}`, {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams({ new_value: newValue })
      })
      .then(response => {
        if (response.ok) {
          document.getElementById(field + "-container").innerHTML = `
            <span id="${field}-display">${newValue}</span>
            <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('${field}')"></i>
          `;

          // Extra logic for phone_number
          if (field === "phone_number") {
            document.getElementById("lead-call-button").setAttribute("href", "tel:" + newValue);
            document.getElementById("lead-whatsapp-button").setAttribute("href", "https://wa.me/" + newValue);
          }
        } else {
          alert("Failed to update " + field);
        }
      })
      .catch(err => {
        console.error(err);
        alert("Error updating " + field);
      });
    }


    function cancelField(field, originalValue) {
      document.getElementById(field + "-container").innerHTML = `
        <span id="${field}-display">${originalValue}</span>
        <i class="fa-solid fa-pen-to-square editable-icon text-primary" onclick="editField('${field}')"></i>
      `;
    }
  </script>
{% endblock javascripts %}
